@import url("https://fonts.googleapis.com/css?family=Open+Sans");
@import url("https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css");
*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:before,
*:after {
  content: "";
  display: block;
  position: absolute;
}

html,
body {
  height: 100%;
}

body {
  font: 15px/1 "Open Sans", sans-serif;
  color: #777;
}

a {
  cursor: pointer;
  
}

ul {
  list-style: none;
  margin-top: 0;
}

.wrapper {
  display: flex;
  min-height: 100%;
}

nav {
  width: 200px;
  background: #404040;
}

nav header {
  position: relative;
  height: 80px;
  padding: 20px 0 0 15px;
  font-size: 16px;
  color: #fff;
  background: #333333;
}

nav header span {
  position: relative;
  display: inline-block;
  width: 36px;
  height: 36px;
  margin: 0 10px 0 0;
  vertical-align: middle;
  border: 1px solid #fff;
}

nav header span:before {
  content: "\f007";
  font: normal 20px fontawesome;
  top: 7px;
  left: 9px;
}

nav header a:before {
  content: "\f08b";
  font: normal 20px fontawesome;
  top: 28px;
  right: 15px;
}

nav ul span {
  display: block;
  padding: 15px;
  color: rgba(255, 255, 255, 0.5);
  text-transform: uppercase;
  border-bottom: 1px solid #333333;
}

nav ul a {
  position: relative;
  display: block;
  padding: 15px 15px 17px 50px;
  color: #fff;
  border-bottom: 1px solid #333333;
  text-decoration: none;
}

nav ul a:hover,
nav ul a.active {
  background: #535353;
}

nav ul a:before {
  font: normal 16px fontawesome;
  top: 15px;
  left: 18px;
}

nav ul li:nth-child(2) a:before {
  content: "\f00a";
}

nav ul li:nth-child(3) a:before {
  content: "\f27a";
}

nav ul li:nth-child(4) a:before {
  content: "\f187";
}

nav ul li:nth-child(5) a:before {
  content: "\f085";
}

nav ul li:nth-child(6) a:before {
  content: "\f251";
}

nav ul li:nth-child(7) a:before {
  content: "\f08b";
}

nav ul li:nth-child(8) a:before {
  content: "\f08b";
}

nav ul li:nth-child(10) a:before {
  content: "\f251";
}

nav ul li:nth-child(11) a:before {
  content: "\f251";
}

nav ul li:nth-child(12) a:before {
  content: "\f08b";
}

main {
  flex: 1;
  padding: 25px;
  background: #f5f5f5;
}

main h1 {
  height: 80px;
  margin: -25px -25px 25px -25px;
  padding: 0 25px;
  line-height: 76px;
  font-size: 24px;
  font-weight: 400;
  background: #ddd;
}

.flex-grid {
  display: flex;
  flex-direction: row;
  height: 300px;
  gap: 15px;
  
}



.flex-grid > div:last-child {
  margin-right: 0;
}

.flex-grid h2 {
  margin: -15px -15px 15px -15px;
  padding: 12px 15px;
  font-size: 18px;
  font-weight: 400;
  border-bottom: 1px solid #ddd;
}
.info{
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.info li {
  margin-top: 15px;
  font-size: 20px;
 
}

.flex-grid li {
  position: relative;
  /* margin: 0 0 10px; */
  /* padding: 0 0 0 25px; */
}

.flex-grid li:before {
  /* content: "\f00c"; */
  font: normal 16px fontawesome;
  top: 0;
  left: 0;
  color: #999;
}
flex-grid {
    display: flex;
    flex-direction: row;
    height: 300px;
    gap: 15px;
    
  }
  
  
  
  .flex-grid > div:last-child {
    margin-right: 0;
  }
  
  .flex-grid-2 h2 {
    margin: -15px -15px 15px -15px;
    padding: 12px 15px;
    font-size: 18px;
    font-weight: 400;
    border-bottom: 1px solid #ddd;
  }

  
  .flex-grid-2 li {
    position: relative;
    /* margin: 0 0 10px; */
    /* padding: 0 0 0 25px; */
  }
  
  .flex-grid-2 li:before {
    /* content: "\f00c"; */
    font: normal 16px fontawesome;
    top: 0;
    left: 0;
    color: #999;
  }
.flex-grid-1 {
  display: flex;
  
  height: 300px;
  
  
}
.documentglobal ul{
    font-size: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.documentglobal a{
    text-decoration: none;
    color: black;

}

.flex-grid-1 > div {
  flex: 1;
  margin: 0 20px 20px 0;
  padding: 15px;
  border: 1px solid #ddd;
  background: #fff;
  height: 300px;
  width: 400px;
  /* overflow: auto; */
}
.flex-grid-2 > div {
  flex: 1;
  margin: 0 20px 20px 0;
  padding: 15px;
  border: 1px solid #ddd;
  background: #fff;
  overflow: auto; 
  width: 30%;
  margin-top: 15px;
}
.doc {
  overflow: hidden;
}
.doc a {
  text-decoration: none;
    color: black;
}
.doc ul{
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.flex-grid-1 > div:last-child {
  margin-right: 0;
}

.flex-grid-1 h2 {
  margin: -15px -15px 15px -15px;
  padding: 12px 15px;
  font-size: 18px;
  font-weight: 400;
  border-bottom: 1px solid #ddd;
}

.flex-grid-1 li {
  position: relative;
 
}
.flex-grid-1 ul {
  position: relative;
  margin-top: 0;
 
}

.flex-grid-1 li:before {
  /* content: "\f00c"; */
  font: normal 16px fontawesome;
  top: 0;
  left: 0;
  color: #999;
}
.flex-grid-3 > div:last-child {
    margin-right: 0;
  }
  
  .flex-grid-3 h2 {
    margin: -15px -15px 15px -15px;
    padding: 12px 15px;
    font-size: 18px;
    font-weight: 400;
    border-bottom: 1px solid #ddd;
  }
  
  .flex-grid-3 li {
    position: relative;
   
  }
  .flex-grid-3 ul {
    position: relative;
    margin-top: 0;
   
  }
  
  .flex-grid-3 li:before {
    /* content: "\f00c"; */
    font: normal 16px fontawesome;
    top: 0;
    left: 0;
    color: #999;
  }

/*
** Media Queries
***********************************************************/
@media (max-width: 1000px) {
  .flex-grid {
    flex-direction: column;
  }

  .flex-grid > div {
    margin-right: 0;
  }
}
.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.fancy-spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5rem;
  height: 5rem;
}
.fancy-spinner div {
  position: absolute;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
}
.fancy-spinner div.ring {
  border-width: 0.5rem;
  border-style: solid;
  border-color: transparent;
  -webkit-animation: 2s fancy infinite alternate;
          animation: 2s fancy infinite alternate;
}
.fancy-spinner div.ring:nth-child(1) {
  border-left-color: #979fd0;
  border-right-color: #979fd0;
}
.fancy-spinner div.ring:nth-child(2) {
  border-top-color: #979fd0;
  border-bottom-color: #979fd0;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}
.fancy-spinner div.dot {
  width: 1rem;
  height: 1rem;
  background: #979fd0;
}

@-webkit-keyframes fancy {
  to {
    transform: rotate(360deg) scale(0.5);
  }
}

@keyframes fancy {
  to {
    transform: rotate(360deg) scale(0.5);
  }
}
.employe ul{
   
    font-size: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.employe li{
    list-style: circle
}
.employe {
    overflow: auto;
    
  margin: 0 20px 20px 0;
  padding: 15px;
  border: 1px solid #ddd;
  background: #fff;
  height: 300px;
}
.employe a{
    text-decoration: none;
    color: black;
}
#app {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    position: absolute;
  }
  
  .appbar {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
    box-shadow: 0px 2px 10px -1px rgba(0, 0, 0, 0.15);
    margin-bottom: 1rem;
  }
  
  .appbar__title {
    font-size: 1.35rem;
    font-weight: 600;
    color: #757575;
    letter-spacing: 0.065rem;
  }
  
  .calendar__container {
    display: flex;
    flex-direction: column;
    padding: 0 10px;
  }
  
  .calendar__month {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0;
  }
  
  .calendar__weekday {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    overflow-x: auto;
    justify-content: space-between;
    padding: 1rem 0;
  }
  
  .calendar__weekday__item {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 140px;
    height: 120px;
    padding: 0 1.35rem;
    border-radius: 10px;
    border: 0.65px solid rgb(229, 229, 238);
    cursor: pointer;
    text-transform: uppercase;
  }
  
  .calendar__weekday__item span:nth-child(2) {
    text-transform: uppercase;
    font-size: 0.85rem;
    font-weight: 600;
    color: #757575;
    margin-bottom: 0.45rem;
    letter-spacing: 0.035rem;
  }
  
  .calendar__weekday__item:nth-child(even) {
    margin: 0rem 0.65rem;
  }
  
  .selected {
    border: 4.65px solid #43a047;
  }
  
  .active-dot::after {
    content: "";
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: rgb(235, 19, 19);
    position: absolute;
    top: 13px;
    left: 45%;
  }
  
  @media screen and (max-width: 480px) {
    .calendar__month h3 {
      font-size: 14px;
    }
  
    .calendar__weekday__item span:nth-child(2),
    .calendar__weekday__item span:nth-child(3) {
      font-size: 14px;
    }
  }
  .planning{
      margin-top: 30px;
  }