html{
	height: 100%;
	width: 	100%;
		background-repeat: no-repeat;
	background-size: cover;
}

body{
	margin: 0;
	padding: 0;
	
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	background: url("../image/fond.jpg");
	background-repeat: no-repeat;
	background-size: cover;

	
	font-family: 'Roboto Condensed', sans-serif;

}
/*Barre de navigation*/
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background: rgb(2,0,36);
background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(24,14,163,1) 53%, rgba(0,114,138,1) 100%);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: white;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: grey;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}

}


/*bloc principale*/
.bloc{
	margin-top: 10.3%;
}

.slid{
	display: flex;
	flex-direction: column;
	margin-top: 10%


}

.accordion {
  background: rgb(2,0,36);
background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(24,14,163,1) 53%, rgba(0,114,138,1) 100%);
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 30px;
  transition: 0.4s;
  font-family: 'Roboto Condensed', sans-serif;
  text-align: center;
  bottom: 0;

}

.active, .accordion:hover {
  background-color: #ccc;
}

.accordion:after {
  content: '\002B';
  color: white;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
  color: white;
}

.panel {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  display: flex;
  margin: 0;
}
.panel1 {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  display: flex;
  gap: 10px;
  margin: 0;
}
.contact1{
	display: flex;
	flex-direction: column;
}
.imageinfo{
	width: 25%;
	height: 50%;

}
.imageinfo1{
	width: 15%;
	height: 30%;

}
.panel p {
	margin-left: 10px;
}
.panel1 p {
	margin-left: 10px;
}


.page{
	display: flex;
	justify-content: center;
	height: auto;
	
	}
/*Connexion*/
.con form{
	height: 300px;
	width: auto;
	display: flex;
	gap: 10px;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: transparent;
	margin: 10px;
	border: none;
	border-radius: 50px;



}
.wrap {
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
  }
  
  .button {
	width: 140px;
	height: 45px;
	font-family: "Roboto", sans-serif;
	font-size: 11px;
	text-transform: uppercase;
	letter-spacing: 2.5px;
	font-weight: 500;
	color: #000;
	background-color: #fff;
	border: none;
	border-radius: 45px;
	box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
	transition: all 0.3s ease 0s;
	cursor: pointer;
	outline: none;
  }
  
  .button:hover {
	background-color: #081ee6;
	box-shadow: 0px 15px 20px rgba(35, 56, 245, 0.4);
	color: #fff;
	transform: translateY(-7px);
  }

label{
	display: flex;
	justify-content: center;
	color: white;

}
.con input{
	display: flex;
	text-align: center;
	height: 35px;
	border: none;
	border-radius: 12px;
	margin: 10px;
	align-items: flex-start;

	


}
.check {
	display: flex;
	width:100% ;
}
.check label{
	display: flex;
	align-items: center;
}
.field-icon {
	float: right;
	margin-left: -25px;
	margin-top: -25px;
	position: relative;
	z-index: 2;
  }
  
  .container {
	padding-top: 50px;
	margin: auto;
  }
  
.valid {
	background-color: white;
	color: black;
	font-size: 20px;
	font-weight: bold;
	border: none;
	border-radius: 12px;


}
.valider{margin: 10px;}

.con {
	margin-bottom: 40px;
	
	


}

/*bloc information*/


/*contact*/

.contact{
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;
	height: 5%;overflow: hidden;
}
.contact p {
	font-size: 30px;
	font-family: 'Roboto', sans-serif;
}
.contact a{
	text-decoration: none;
	color: white;
}
.contact img{
	width: 8%;

}













@media screen and (max-width: 600px){


	.bloc{
		margin-top: 150px;
	}

	.text{
		color: blueviolet;
	}
	.img img {
		height: 20%;
		width: 100%;


	}
  .info{
  	max-width: 100%;
  	overflow: unset;
  }
  .pp{
  	display: flex;
  	flex-direction: column;
  }

  .contact{
  	float:left;
  }















}